:root {
  --Almost_White: #fafafa;
  --Medium_Gray: #696969;
  --Almost_Black: #141414;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 18px;
  line-height: 1.6;
}

body {
  height: 100%;
  font-family: "Epilogue", sans-serif;
  position: relative;
}

.resetBtnStyle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sideMenu {
  background-color: var(--Almost_White);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: width 400ms 0s ease-in,opacity  0s 1ms ease-in;
}

.invisible {
  width: 0% !important;
  opacity: 0;
  transition: width 400ms 0s ease-in,opacity  0s 420ms ease-in;


}

.sideMenu .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 95%;
  margin: 0 auto;
}
.closeMenuBtn {
  align-self: flex-end;
}

main {
  width: 100%;
  height: 100%;
}

header {
  /*box-model*/
  --paddingValue: max(2vw, 2vh);
  padding-top: var(--paddingValue);
  padding-left: var(--paddingValue);
  padding-right: var(--paddingValue);
  margin-bottom: 25px;

  /*flexbox*/
  display: flex;
  justify-content: space-between;
}

.siteContent {
  /*flexbox*/
  display: flex;
  flex-direction: column;
}

.imageHero img {
  width: 100%;
}

.left {
  /*flexbox*/
  display: flex;
  flex-direction: column;
  order: 1;
}

.upper {
  margin: 20px 0px 40px 0px;
  text-align: center;

  /*flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slogan {
  font-size: calc(24px + 3.5vw);
  margin: 0;
}

.serviceDescription {
  color: var(--Medium_Gray);
  font-weight: 500;
  width: 95%;
}

.learnMoreBtn {
  /*box-model*/
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 15px 25px;

  /*general*/
  background-color: var(--Almost_Black);
  color: var(--Almost_White);
  cursor: pointer;
  font-weight: 700;
}

.learnMoreBtn:hover {
  background-color: var(--Almost_White);
  border: 2px solid var(--Almost_Black);
  color: var(--Almost_Black);
}

.trustedCompanies {
  /*box-model*/
  width: 95%;
  margin: 0 auto;

  /*flexbox*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.companyImageContainer {
  /*flexbox*/
  display: flex;
  justify-content: center;
  flex: 1 1 0px;
}

.trustedCompanies img {
  max-width: 75%;
}

/*!done*/

@media only screen and (min-width: 811px) {
  .toggleDesktop {
    display: none;
  }

  .siteContent {
    /*box-model*/
    margin: 0 auto;
    max-height: 750px;
    width: 73%;

    /*flexbox*/
    flex-direction: row;
    gap: 10vw;
  }

  .left {
    gap: 0px;
    order: -2;
  }

  .upper {
    text-align: start;

    /*flexbox*/
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    justify-content: center;
    gap: 50px;
  }

  .learnMoreBtn {
    align-self: flex-start;
  }

  .trustedCompanies {
    width: 100%;
    margin: 0;
  }

  .companyImageContainer {
    justify-content: flex-start;
  }

  .imageHero img {
    max-width: 100%;
    max-height: 100%;
  }
}
